Assets/SteamVR/*
Assets/TextMesh Pro/*
Library/*
Temp/*
Logs/*
Assets/RW/Scripts/Accord.dll
Assets/RW/Scripts/Accord.dll.config
Assets/RW/Scripts/Accord.dll.config.meta
Assets/RW/Scripts/Accord.dll.meta
Assets/RW/Scripts/Accord.MachineLearning.dll
Assets/RW/Scripts/Accord.MachineLearning.dll.meta
Assets/RW/Scripts/Accord.MachineLearning.GPL.dll
Assets/RW/Scripts/Accord.MachineLearning.GPL.dll.meta
Assets/RW/Scripts/Accord.MachineLearning.GPL.xml
Assets/RW/Scripts/Accord.MachineLearning.GPL.xml.meta
Assets/RW/Scripts/Accord.MachineLearning.xml
Assets/RW/Scripts/Accord.MachineLearning.xml.meta
Assets/RW/Scripts/Accord.Math.Core.dll
Assets/RW/Scripts/Accord.Math.Core.dll.meta
Assets/RW/Scripts/Accord.Math.Core.xml
Assets/RW/Scripts/Accord.Math.Core.xml.meta
Assets/RW/Scripts/Accord.Math.dll
Assets/RW/Scripts/Accord.Math.dll.meta
Assets/RW/Scripts/Accord.Math.xml
Assets/RW/Scripts/Accord.Math.xml.meta
Assets/RW/Scripts/Accord.Statistics.dll
Assets/RW/Scripts/Accord.Statistics.dll.meta
Assets/RW/Scripts/Accord.Statistics.xml
Assets/RW/Scripts/Accord.Statistics.xml.meta
Assets/RW/Scripts/Accord.xml
Assets/RW/Scripts/Accord.xml.meta
